---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "/src/styles/project.scss";
import MV from "@/components/MV.astro";

const title = "プロジェクト紹介 | 学生NPO 農楽塾公式HP | 早稲田 農業サークル";
const description =
  "農楽塾のこれまでのプロジェクト事例を紹介します。これまで、地域の農家さんとのコラボイベントや田んぼの学校イベントなど、多くのプロジェクトを手掛けてきました。";
const og_image = "";

//microCMS呼び出し
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({
  fields: ["id", "title", "img", "url", "concept"],
});
const defaultImg = "/src/assets/project_article_img/article_main.webp";
---

<Layout title={title} description={description} og_image={og_image}>
  <!-- ヘッダーここから -->

  <Header />
  <!-- ヘッダーここまで -->
  <main>
    <MV title="プロジェクト紹介" img="/official/img/activity3.webp" />
    <div class="projects">
      {
        response.contents.map((content: any) => (
          <div class="project1">
            <img src={content?.img?.url ?? defaultImg} alt="" />
            <div class="text1">
              <h3>{content.title}</h3>
              <p class="content">{content.concept}</p>
              <hr />
              <a href={"/official/projects/" + content.id} class="readmore">
                READ MORE
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>
