---
import "/src/styles/style.scss";
import "@fontsource/koulen";
// タイトル等をPropsとして受け取る。指定がない場合のデフォルト値を設定しておく。
let { title, description, og_image } = Astro.props;

if (!title) {
  title = "学生NPO 農楽塾公式HP | 早稲田 農業サークル";
}
if (!description) {
  description =
    "「早稲'田'なのに、なぜ'田'んぼがないのか？」この素朴な疑問から私たち農楽塾は発足しました。そうして誕生した大隈庭園にある早稲田の「わせでん」を中心に幅広く活動してきました。発足から20年たった農楽塾はわせでんでの稲作に加え、様々な活動を行ってきました。";
}
if (!og_image) {
  og_image = "https://nogakujuku.github.io/official/img/nogakujuku_logo.webp";
}
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swiperを使うためlinkタグを追加しました -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mochiy+Pop+P+One&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="早稲田農業サークル 農楽塾" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={og_image} />
    <meta name="twitter:site" content="早稲田農業サークル 農楽塾" />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content="早稲田農業サークル 農楽塾" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={og_image} />
    <link
      rel="icon"
      sizes="32x32"
      type="image/png"
      href="/official/favicon.ico"
    />
    <link rel="shortcut icon" href="/official/favicon.ico" />
  </head>
  <body>
    <slot />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  import "../scripts/main.js";
</script>
<!-- swiperを使うため、scriptタグを追加しました -->
