---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import MV from "@/components/MV.astro";
import MediaList from "@/components/MediaList.astro";
import "@/styles/media.scss";

//microCMS呼び出し
import { getMedias } from "../../library/microcms";
const response = await getMedias({
  fields: ["id", "title", "publishedDate", "tags", "link"],
});

interface ContentType {
  id: string;
  createdAt: string;
  updatedAt: string;
  publishedAt: string;
  revisedAt: string;
  title: string;
  content: string;
  publishedDate: string;
  tags: string;
  link: string;
}

// 年ごとのデータの型定義
const dataByYear: Record<number, ContentType[]> = {};
for (let year = 2100; year >= 2005; year--) {
  dataByYear[year] = response.contents.filter(
    (content: any) => new Date(content.publishedDate).getFullYear() === year
  );
}

const title = "メディア情報 | 早稲田 農業サークル | 学生NPO 農楽塾公式HP";
const description =
  "農楽塾の活動を紹介してくれたメディア情報の一覧です。農楽塾の活動は雑誌や書籍、テレビなどで取り上げられてきました。";
---

<Layout title={title} description={description}>
  <!-- ヘッダーここから -->
  <Header />
  <!-- ヘッダーここまで -->
  <main>
    <MV title="メディア情報" img="/official/img/media_top.webp" />
    <section id="chronology" class="p-chronology">
      <div class="container">
        <div>
          {
            Object.keys(dataByYear).map((yearString) => {
              const year = Number(yearString); // year を数値型に変換

              return (
                dataByYear[year].length > 0 && (
                  <div class="p-chronology__year">
                    <h2>{year}年</h2>
                    <ul>
                      {dataByYear[year].map((content) => (
                        <MediaList
                          id={content.id}
                          title={content.title}
                          publishedDate={content.publishedDate}
                          tags={content.tags}
                          link={content.link}
                        />
                      ))}
                    </ul>
                  </div>
                )
              );
            })
          }
        </div>
        <!-- 2015年のデータを表示 -->
        <!-- {
          data2015.length > 0 && (
            <div class="p-chronology__year">
              <h2>2015年</h2>
              <ul>
                {data2015.map((content) => (
                  <MediaList
                    id={content.id}
                    title={content.title}
                    publishedDate={content.publishedDate}
                    tags={content.tags}
                    link={content.link}
                  />
                ))}
              </ul>
            </div>
          )
        } -->

        <!-- 2014年のデータを表示 -->
        <!-- {
          data2014.length > 0 && (
            <div class="p-chronology__year">
              <h2>2014年</h2>
              <ul>
                {data2014.map((content) => (
                  <MediaList
                    id={content.id}
                    title={content.title}
                    publishedDate={content.publishedDate}
                    tags={content.tags}
                    link={content.link}
                  />
                ))}
              </ul>
            </div>
          )
        } -->
      </div>
    </section>
  </main>
  <!-- フッターここから -->
  <Footer />
  <!-- フッターここまで -->
</Layout>

<style>
  body {
    background-color: #fbf0de;
  }
</style>
